<p style="color: green"><%= notice %></p>

<% content_for :title, "Routines" %>

<h1>Routines</h1>

<div id="fitness_routines">
  <% @fitness_routines.each do |fitness_routine| %>
    <%= render fitness_routine %>
    <p>
      <%= link_to "Show this routine", fitness_routine %>
    </p>
  <% end %>
</div>

<%= link_to "New routine", new_fitness_routine_path %>
