<p style="color: green"><%= notice %></p>

<%= render @meal %>

<div>
  <%= link_to "Edit this meal", edit_day_meal_path(@day, @meal) %> |
  <%= link_to "Back to meals", day_meals_path(@day) %>

  <%# button_to "Destroy this meal", @meal, method: :delete %>
</div>
