<div id="stats" class="my-3">
  <div class="border rounded p-3">
    <%= line_chart(
      [{
        name: "kcal",
        data: @kilocalories,
      },
      {
        name: "TDEE",
        data: @tdee_data,
      }],
      min: nil,
      ytitle: "TDEE (kcal)"
    ) %>
  </div>
  <div class="border rounded p-3 mt-2">
    <%= line_chart(
      [{
        name: "Weight",
        data: @weight,
      },
      {
        name: "EMA",
        data: @ema,
      }],
      min: nil,
      ytitle: "Weight (lbs)",
    ) %>
  </div>
  <p class="text-center fw-semibold mt-1">If the blue line is below the red line, you are making progress</p>
</div>

<% if @target_kilocalories  %>
  <div class="rounded border p-3 mb-3">
    <span class="fw-semibold">Target:</span> <%= @target_kilocalories %> kcal
  </div>
<% end %>

<%= render template: "days/edit" %>
